/* ------------------ HEADER ----------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 0 4.8rem;

  /* background-color: #e5e5e5; */
  background-image: linear-gradient(to bottom right, #e5e5e5, #b5b5b5);

  position: relative;
}

.logo {
  height: 2rem;
  width: 15rem;
  height: auto;
  filter: grayscale(100%) invert(100%) sepia(100%);
  margin-top: 1.2rem;
}

/* ------------------ NAVIGATION----------------------- */

.main-nav {
  filter: blur();
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;

  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.main-nav-link.nav-cta::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-nav-link.nav-cta:hover::before {
  transform: rotate(-180deg);
  scale: 0.7;
  filter: blur(0);
}

.main-nav-link.nav-cta::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.main-nav-link.nav-cta:hover::after {
  filter: blur(30px);
}

/* MOBILE  */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */

.sticky .header {
  position: fixed; /*view porta sabitler */
  top: 0;
  bottom: 0;

  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.8),
    rgba(213, 213, 213, 0.8)
  );

  z-index: 1000;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/* ------------------ HERO SECTION ----------------------- */

.section-hero {
  /* background-color: #e5e5e5; */
  background-image: linear-gradient(to top right, #e5e5e5, #b5b5b5);
  padding: 1.2rem 0 9.6rem 0;
  border-bottom: 1px solid white;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 9.6rem 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  gap: 9.6rem;
}

.hero-text-box {
  align-self: start;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  height: auto;
}

/* ------------------ WHO WE ARE SECTION ----------------------- */

.section-how {
  padding: 9.6rem 0;
  position: relative;
}

.step-text-box::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 80%;
  background-color: #555;
  z-index: -1;
}

/* İlk yuvarlak işaret */
.step-text-box::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* İkinci yuvarlak işaret */
.time-line::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Üçüncü yuvarlak işaret */
.time-line::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* .step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img {
  height: 30vh;
  border-radius: 50px;
  /* z-index: 10; 
} 
*/

/* ------------------ PRODUCT SECTION ----------------------- */

.section-product {
  padding: 9.6rem 0;
  position: relative;
}

.product {
  box-shadow: 0 0.2rem 2.4rem rgba(0, 0, 0, 0.2);
  border-radius: 11px;
  overflow: hidden;

  transition: all 0.4s;
}

.product .product-img {
  background-image: linear-gradient(to right bottom, #fff, #ddd);
}

.product:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.5);
}

.product-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.product-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 4px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  font-size: 1.2rem;
  text-transform: uppercase;

  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--feature--1 {
  background-color: #a8a8a8;
}

.tag--feature--2 {
  background-color: #94d82d;
}
.tag--feature--3 {
  background-color: #ffd43b;
}

.product-title {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.product-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product-attribute {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.product-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #266096;
}

.product-link {
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

.product-img {
  width: 100%;
  /* border-radius: 11px; */
}

.all-product-link {
  text-align: center;
  font-size: 1.8rem;
}

/* ------------------ GALLERY SECTION ----------------------- */

.section-gallery {
  /* background-color: #e5e5e5; */
  background-image: linear-gradient(to bottom right, #e5e5e5, #b5b5b5);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.gallery-header {
  margin-top: 4.8rem;
}

.gallery-container {
  padding: 4.8rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 1.2rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;

  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/* ------------------ CALL TO ACTION SECTION ----------------------- */

.section-call-to-action {
  padding: 9.6rem 0 12.8rem 0;
}

.call-to-action {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #e5e5e5, #7c7c7c);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.call-to-action .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(99, 99, 99, 0.1),
      rgba(73, 73, 73, 0.2)
    ),
    url("../img/cta-img1.png");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  font-family: inherit;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  color: inherit;

  border: none;
  background-color: #dadada;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.cta-form input::placeholder {
  color: #aaa;
}

.call-to-action *:focus {
  outline: none;
  box-shadow: 0.1rem 0.1rem 0.1rem 0.5rem rgba(209, 209, 209, 0.863);
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #d1d1d1;
  color: #555;
}

.social-container {
  display: flex;
  /* justify-content: center; */

  margin-top: 2.4rem;
}

.social-logo {
  position: relative;
  border: none;
  margin: 10px;
  background-color: transparent;
}

.social-logo a {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  transition: 0.5s;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-logo a:hover {
  transform: translateY(-20px);
}

.social-logo a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s ease;
}

.social-logo a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

.social-logo a svg {
  width: 3em;
}

.facebook {
  color: rgba(6, 36, 206, 0.8);
}

/* ------------------ FOOTER SECTION ----------------------- */

.footer-section {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-image: linear-gradient(to right bottom, #e5e5e5, #7c7c7c);
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2.4rem;
}

/* .social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
} */

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #45260a;

  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #45260a;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #45260a;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #45260a;

  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #45260a;
}
